<div id="posContainer" class="container">
  <table>
    <tr>
      <th scope="row">
        {{id}}
      </th>
      <!---->
      <td>
        {{name}}
      </td>
      <!---->
      <td>
        {{pwd}}
      </td>
      <!---->
      <td>
        {{age}}
      </td>
    </tr>
    <th scope="row">
      <mat-form-field class="example-full-width">
        <mat-label>edit id</mat-label>
        <input matInput placeholder="add id">
      </mat-form-field>
    </th>
    <!---->
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>edit name</mat-label>
        <input matInput placeholder="add name">
      </mat-form-field>
    </td>
    <!---->
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>edit pwd</mat-label>
        <input matInput placeholder="add pwd">
      </mat-form-field>
    </td>
    <!---->
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>edit Age</mat-label>
        <input matInput placeholder="add Age">
      </mat-form-field>
    </td>
    <td>
      <app-block-icon typeIcon="check_circle"></app-block-icon>
    </td>
  </table>
</div>
